/* .test{
    background-color: purple;
} */

.container{
    margin-top: 0px;
}

.form-wrapper{
    min-height: 300px;
    max-width: 30%;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.btn2{
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: none;
}

.logo{
    max-width: 150px;
}

.label{
    padding-top: 15px;
    font-weight: bold;
}
.line{
    border-top: 1px solid lightgray;
    box-shadow: 0px 8px 20px black;
    margin-bottom: 50px;
}

.new{
    font-size: 10px;
    font-weight: lighter;
    text-align: center;
    margin-top: 20px;
}

.btn{
    margin-top: 10px;
    background: linear-gradient(0deg, rgba(217,176,64,1) 10%, rgba(235,204,108,1) 70%);
}

.input{
    width: 100%;
    border: 1px solid gray;
    border-radius: 3px;
}

.input:focus {
    box-shadow: 0px 0px 10px orange;
}

h1{
    font-size: 25px;
    margin-top: 10px;
}

.terms{
    margin-top: 15px;
    font-size: 10px;
    font-weight: bold;
}